<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Clínica Otorrinolaringologia & Fonoaudiologia</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">Clínica Otorrino & Fono</a>
            <div class="d-flex justify-content-between align-items-center w-100">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'paciente_list' %}">Pacientes</a>
                <a class="nav-link" href="{% url 'profissional_list' %}">Profissionais</a>
                <a class="nav-link" href="{% url 'consulta_list' %}">Consultas</a>
                </div>
               
<div class="navbar-nav align-items-center gap-3">
    {% if user.is_authenticated %}
        <span class="navbar-text text-white small me-2">
            Olá, <strong>{{ user.username }}</strong>
        </span>
        <!-- o django exige que logout seja feito via post, então tem um formulário invisível que envia o post -->
        <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light btn-sm fw-semibold">
                Sair
            </button>
        </form>
    {% endif %}
</div>
            </div>
        </div>
    </nav>

    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
        <div class="card shadow-sm p-4">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>